body {
	background-color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	max-height: 100px;
	max-width: 100px;
}

button {
	border: none;
	padding: 10px;
	margin: 5px;
	color: white;
	background-color: #8f8d8d;
}

button:hover {
	background-color: #a3a3a3;
	color: black;
}

.scores {
	display: flex;
	justify-content: space-between;
}

.streakcontainer,
.highscorecontainer {
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#userGuess {
	margin: 5px;
	padding: 10px;
	border: none;
	border-radius: 1em;
}

#continuebtn {
	display: none;
}
